<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Course Management System</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.form-container {
			width: 50%;
			margin: 0 auto;
			padding: 20px;
		}

		.course-list {
			width: 80%;
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1 style="color: blue;">Course Management System</h1>

		<!-- Create Course Form -->
		<div class="form-container">
			<h2 style="color: green;">Create Course</h2>
			<form th:action="@{/courses/create}" th:object="${course}" method="post">
				<div class="form-group">
					<label for="course_id">Course ID:</label>
					<input type="text" class="form-control" id="course_id" th:field="*{course_id}" required="required">
				</div>
				<div class="form-group">
					<label for="course_name">Course Name:</label>
					<input type="text" class="form-control" id="course_name" th:field="*{course_name}"
						required="required">
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					<input type="text" class="form-control" id="description" th:field="*{description}"
						required="required">
				</div>
				<button type="submit" class="btn btn-success">Create Course</button>
			</form>
		</div>

		<!-- Course List -->
		<div class="course-list">
			<h2 style="color: green;">Course List</h2>
			<table class="table">
				<thead>
					<tr class="bg-light">
						<th>Course ID</th>
						<th>Course Name</th>
						<th>Description</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="course : ${courses}">
						<td th:text="${course.course_id}"></td>
						<td th:text="${course.course_name}"></td>
						<td th:text="${course.description}"></td>
						<td><a th:href="@{/courses/editCourse/{course_id}(course_id=${course.course_id})}">Edit</a></td>
						<td><a th:href="@{/courses/deleteCourse/{course_id}(course_id=${course.course_id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>